:root {
  --backColor: #272324;
  --textColor: #fff;
  --accentColor: #d62e0d;
}

@font-face {
  font-family: "CalFrakturModern";
  src: url("webfonts/36901D_0_0.eot");
  src: url("webfonts/36901D_0_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/36901D_0_0.woff2") format("woff2"),
    url("webfonts/36901D_0_0.woff") format("woff"),
    url("webfonts/36901D_0_0.ttf") format("truetype");
}

html {
  font-family: "lucida grande";
  font-size: 18px;
  line-height: 1.5em;
  background: var(--backColor);
  color: var(--textColor);
}

body {
  margin: 0;
}

h1 {
  font-size: 6em;
  line-height: 0.8em;
  margin-top: 0;
  font-weight: 800;
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
}

h2.blackletter {
  font-size: 2.3em;
}

h3 {
  margin-top: 0;
  line-height: 1.2em;
}

h4 {
  font-size: 1em;
}

h4.blackletter {
  font-size: 1.5em;
}

h5 {
}

p {
}

a {
  color: var(--linkColor);
  cursor: pointer;
}

a:hover {
}

.display-none {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------- PROJECTS ---------*/

.projects {

}

.project {

}

.project.editing {

}

.project.writting {

}

.project.inerview {

}

.project-insert {
  
}

/* -- containers -- */

.wrap {
  padding: 0 10em;
  max-width: 1800px;
  margin: 0 auto;
}

.smaller-wrap {
  padding: 0 10em;
  max-width: 800px;
  margin: 0 auto;
}

/* -------- FLEX ---------*/

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

/* -------- PADDING ---------*/

.small-padding {
  padding: 15px;
}

.small-padding-left {
  padding-left: 15px;
}

.small-padding-right {
  padding-right: 15px;
}

.small-padding-top {
  padding-top: 15px;
}

.small-padding-bottom {
  padding-bottom: 15px;
}

.medium-padding {
  padding: 30px;
}

.medium-padding-top {
  padding-top: 30px;
}

.medium-padding-bottom {
  padding-bottom: 30px;
}

.medium-padding-right {
  padding-right: 30px;
}

.medium-padding-left {
  padding-left: 30px;
}

.big-padding {
  padding: 60px;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.big-padding-left {
  padding-left: 60px;
}

.big-padding-right {
  padding-right: 60px;
}

/* -------- MARGINS ---------*/

.small-margin-top {
  margin-top: 15px;
}

.small-margin-left {
  margin-left: 15px;
}

.small-margin-right {
  margin-right: 15px;
}

.small-margin-bottom {
  margin-bottom: 15px;
}

.medium-margin-top {
  margin-top: 30px;
}

.medium-margin-bottom {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.flex-row.desktop {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/* -------- MOBILE ---------*/

@media screen and (max-width: 599px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  h3 {
    font-size: 20px;
  }
  .current-row {
    width: 600px;
    padding-bottom: 30px;
  }
  .new-project .flex-row {
    display: block;
  }
  .new-project {
    max-width: calc(50% - 40px);
    min-width: calc(50% - 40px);
  }
  .new-project .picture {
    min-height: 200px;
    background-position: center;
  }
  .new-project:first-child {
    margin-left: 24px;
  }
  .new-project:last-child {
    margin-right: 24px;
  }
  .new-project .desc {
    max-width: 100%;
    padding: 24px;
  }
  .mobile {
    display: block;
  }
  .desktop,
  .flex-row.desktop {
    display: none;
  }
  .wrap {
    padding: 0 24px;
  }
  .big-padding-top {
    padding-top: 30px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.2em;
  }
  .old-title {
    padding-top: 60px;
  }
  .top-page-row {
    display: block;
  }
  .profile-pic .photo {
    width: 80px;
    height: 80px;
  }
  .profile-pic {
    max-width: 80px;
    min-width: 80px;
    margin-bottom: 16px;
  }
  .old-row {
    margin-right: 0;
  }
  .old-project {
    max-width: 100%;
    min-width: 100%;
    margin-right: 0;
  }
  .current-row-scroll {
    overflow-x: scroll;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  .old-title {
    display: block;
  }
  .filters {
    text-align: left;
    margin-bottom: 16px;
  }
  .tag {
    display: block;
  }
  .footer .flex-row {
    display: block;
  }
  .footer .flex-row .flex-1 {
    margin-bottom: 16px;
  }
  .oilandsugar-symbol {
    flex-direction: column;
  }
  .oilandsugar-symbol .symbol {
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .oilandsugar-symbol .symbol svg {
    width: 80px;
  }
  .shop-row {
    flex-direction: column;
  }
  .product {
    max-width: 100%;
    margin-right: 0;
  }
  .product-desc p {
    margin-top: 0;
  }
}
