{{ partial "header" . }}

<div class="wrap-smaller big-padding-top about">
  {{ .Content }}

  <div class="social">
    <a href='m&#97;ilto&#58;su%6Dm%&#54;F%&#54;&#69;&#64;&#37;68%6&#49;y&#37;&#54;&#67;e%79ev%61ns&#46;n%6&#53;%7&#52;'>&#115;um&#109;on&#64;hayleyevans&#46;&#110;e&#116;</a>
    <span class="spacer">•</span>
    <a href="https://www.linkedin.com/in/hayleyev/" class="social-link"><i class="fab fa-linkedin"></i></a>
    <span class="spacer">•</span>
    <a href="https://www.instagram.com/voidxwitch/" class="social-link"><i class="fab fa-instagram"></i></a>
    <span class="spacer">•</span>
    <a href="https://twitter.com/quoth_hayley" class="social-link"><i class="fab fa-twitter"></i></a>
  </div>
</div>

{{ partial "footer" . }}
