:root {
  --backColor: #272324;
  --textColor: #fff;
  --accentColor: #d62e0d;
}

/* -------- fonts ----------*/

@font-face {
    font-family: 'Bernard MT Condensed';
    src: url('BernardMT-Condensed.woff2') format('woff2'),
        url('BernardMT-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk XBold';
    src: url('AktivGroteskTrial-XBold.woff2') format('woff2'),
        url('AktivGroteskTrial-XBold.woff') format('woff'),
        url('AktivGroteskTrial-XBold.svg#AktivGroteskTrial-XBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Medium.woff2') format('woff2'),
        url('AktivGroteskTrial-Medium.woff') format('woff'),
        url('AktivGroteskTrial-Medium.svg#AktivGroteskTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Hair';
    src: url('AktivGroteskTrial-HairItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-HairItalic.woff') format('woff'),
        url('AktivGroteskTrial-HairItalic.svg#AktivGroteskTrial-HairItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-ThinItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-ThinItalic.woff') format('woff'),
        url('AktivGroteskTrial-ThinItalic.svg#AktivGroteskTrial-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-BoldItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-BoldItalic.woff') format('woff'),
        url('AktivGroteskTrial-BoldItalic.svg#AktivGroteskTrial-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Black.woff2') format('woff2'),
        url('AktivGroteskTrial-Black.woff') format('woff'),
        url('AktivGroteskTrial-Black.svg#AktivGroteskTrial-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-BlackItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-BlackItalic.woff') format('woff'),
        url('AktivGroteskTrial-BlackItalic.svg#AktivGroteskTrial-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Regular.woff2') format('woff2'),
        url('AktivGroteskTrial-Regular.woff') format('woff'),
        url('AktivGroteskTrial-Regular.svg#AktivGroteskTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-MediumItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-MediumItalic.woff') format('woff'),
        url('AktivGroteskTrial-MediumItalic.svg#AktivGroteskTrial-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Italic.woff2') format('woff2'),
        url('AktivGroteskTrial-Italic.woff') format('woff'),
        url('AktivGroteskTrial-Italic.svg#AktivGroteskTrial-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-XBoldItalic.woff2') format('woff2'),
        url('AktivGroteskTrial-XBoldItalic.woff') format('woff'),
        url('AktivGroteskTrial-XBoldItalic.svg#AktivGroteskTrial-XBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Hair.woff2') format('woff2'),
        url('AktivGroteskTrial-Hair.woff') format('woff'),
        url('AktivGroteskTrial-Hair.svg#AktivGroteskTrial-Hair') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('AktivGroteskTrial-Bold.woff2') format('woff2'),
        url('AktivGroteskTrial-Bold.woff') format('woff'),
        url('AktivGroteskTrial-Bold.svg#AktivGroteskTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* -------- Basics ----------*/

html {
  font-family: 'Aktiv Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background: var(--backColor);
  color: var(--textColor);
}

body {
  margin: 0;
  //background: url('/uploads/corner-right-top.png');
  background-position:top right;
  background-repeat:no-repeat;
  background-size: 400px;
}

h1 {
  font-size: 6em;
  line-height: 0.8em;
  margin-top: 0;
  font-weight: 800;
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
}

h2.blackletter {
  font-size: 2.3em;
}

h3 {
  margin-top: 0;
  line-height: 1.2em;
}

h4 {
  font-size: 1em;
}

h4.blackletter {
  font-size: 1.5em;
}

h5 {
}

p {
}

a {
  color: var(--linkColor);
  cursor: pointer;
  transition:0.3s;
}

a:hover {
  color:var(--accentColor);
}

.display-none {
  display: none;
}

.text-right {
  text-align:right;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------- NAV ----------*/

nav a {
  text-decoration:none;
}

.menu a:after {
  content:" • ";
  transition:0s;
  color:#fff;
  padding: 0 8px;
}


.menu a:last-child:after {
  content:"";
  display:none;
}

.menu a:hover:after {
  color:#fff;
}

nav a.title {
  font-family:'Bernard MT Condensed';
  font-size:36px;
}

nav .menu {
  text-align:right;
}

.menu-item.active {
  color:var(--accentColor);
}

.mobile-menu {
  text-align:right;
}

.mobile-menu .menu-content {
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color:var(--backColor);
  padding: 30px;
  text-align: left;
  bottom:0;
  z-index:1000;
  counter-reset: pagenumbers;
}

.mobile-menu .menu-content a {
  display:block;
  font-family: 'Bernard MT Condensed';
  font-size: 36px;
  line-height:50px;
  border-bottom: 2px dotted #ffffff50;
  position:relative;
}

.mobile-menu .menu-content .top {
  display:flex;
  flex-direction:row;
}

.mobile-menu .menu-content .top h3 {
  flex:1;
}

.mobile-menu .menu-content .top .close {
  text-align:right;
  color:var(--accentColor);
}

.mobile-menu .menu-content a:after {
  counter-increment: pagenumbers;
  content: counter(pagenumbers);
  position:absolute;
  top:0;
  right:0;
  font-size:16px;
}

.mobile-menu .menu-content.visible {
  opacity:0;
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}

.mobile-menu .menu-content.hidden {
  -webkit-animation: fadeout 0.3s linear forwards;
  animation: fadeout 0.3s linear forwards;
  pointer-events: none;
}

.mobile-menu .menu-button {
  line-height: 20px;
font-weight: bold;
display: block;
}

@-webkit-keyframes fadein {
  50% { opacity: 0; }
}

@keyframes fadein {
  50% { opacity: 0 }
}
@keyframes fadein {
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  50% { opacity: 1; }
}

@keyframes fadeout {
  50% { opacity: 1 }
}
@keyframes fadeout {
  100% { opacity: 0; }
}

/* -------- HOME ----------*/

.top-quote,
.bottom-quote {
  max-width:310px;
  text-align:center;
  margin:0 auto;
  font-style: italic;
}

.top-quote a,
.bottom-quote a {
  text-decoration:none;
}

.top-quote {
  margin-bottom:60px;
}

.bottom-quote {
  margin-top:60px;
}

.top-quote a:hover,
.bottom-quote a:hover {
  color:var(--accentColor);
}

/* -------- About ---------*/

.about h2 {
  font-style:italic;
  font-weight:bold;
}

.about {
  position:relative;
}

.about img {
  position: absolute;
  z-index: -1;
  width: 400px;
  right: -130px;
}

.about h2:first-child {
  margin-top:150px;
}

/* -------- PROJECTS ---------*/

.projects {
  padding-bottom:100px;
  margin:24px -30px 60px -30px;
  flex-wrap:wrap;
}

.project:nth-child(3n - 1) {
  margin-top:100px;
}

.project {
  position:relative;
  min-height:300px;
  max-width:33.3333%;
  min-width:33.3333%;
  display:block;
  text-decoration:none;
  box-sizing:border-box;
}

.project .picture {
  height: 250px;
  width: calc(100% - 60px);
  background-size:cover;
  position:absolute;
  z-index:0;
  filter: grayscale(100%);
  opacity:0.7;
  background-position: center center;
}

.project .desc {
  position:relative;
  z-index:10;
  margin-top:177px;
}

.project h2  {
  font-size: 46px;
  line-height:46px;
  margin-bottom:16px;
}

.project .title {
  color: var(--accentColor);
  width:50%;
  line-height:20px;
  margin: 8px 0;
}

.project.editing h2 {
  font-weight:bold;
}

.project.editing .desc {
  top:100px;
}

.project.editing .desc {
  top:0;
}

.project.editing .picture {
  height: 450px;
  width: calc(80% - 60px);
}

.project.editing .author {
  margin-top:8px;
  margin-bottom:0;
  font-size:22px;
  font-weight:bold;
}

.project.writing h2 {
  font-family: 'Bernard MT Condensed';
  font-size: 46px;
}

.project.interviews h2 {
  font-weight:bold;
  font-style: italic;
  text-transform:uppercase;
  font-size: 36px;
  line-height:36px;
}

.project.interview .desc {
  margin-top:200px;
}

.project-insert {

}

/* -- containers -- */

.wrap {
  padding: 0 10em;
  max-width: 1800px;
  margin: 0 auto;
}

.wrap-smaller {
  padding: 0 10em;
  max-width: 600px;
  margin: 0 auto;
}

/* -------- ABOUT ---------*/

.about blockquote p {
  margin:0;
}

.about blockquote {
  margin-left:0;
  margin-right:0;
  font-style: italic;
}

.about h6 {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
  margin: 8px 0 36px 0;
}

.about h2 span {
  text-align: right;
  display:block;
}

.about hr {
  margin:36px 0;
  opacity:0;
}

/* -------- FLEX ---------*/

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

/* -------- PADDING ---------*/

.small-padding {
  padding: 15px;
}

.small-padding-left {
  padding-left: 15px;
}

.small-padding-right {
  padding-right: 15px;
}

.small-padding-top {
  padding-top: 15px;
}

.small-padding-bottom {
  padding-bottom: 15px;
}

.medium-padding {
  padding: 30px;
}

.medium-padding-top {
  padding-top: 30px;
}

.medium-padding-bottom {
  padding-bottom: 30px;
}

.medium-padding-right {
  padding-right: 30px;
}

.medium-padding-left {
  padding-left: 30px;
}

.big-padding {
  padding: 60px;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.big-padding-left {
  padding-left: 60px;
}

.big-padding-right {
  padding-right: 60px;
}

/* -------- MARGINS ---------*/

.small-margin-top {
  margin-top: 15px;
}

.small-margin-left {
  margin-left: 15px;
}

.small-margin-right {
  margin-right: 15px;
}

.small-margin-bottom {
  margin-bottom: 15px;
}

.medium-margin-top {
  margin-top: 30px;
}

.medium-margin-bottom {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.flex-row.desktop {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/* -------- MOBILE ---------*/

@media screen and (max-width: 599px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .mobile {
    display: block;
  }
  .desktop,
  .flex-row.desktop {
    display: none;
  }
  .wrap {
    padding: 0 24px;
  }
  .big-padding-top {
    padding-top: 30px;
  }
  nav a.title {
    line-height:34px;
  }
  .top-quote, .bottom-quote {
    font-size: 14px;
    max-width: 250px;
    line-height:16px;
  }
  .top-quote {
    margin-bottom:0;
  }
  .projects {
    flex-direction:column;
    margin-top:0;
  }
  .project {
    max-width: 100%;
    min-width: 100%;
  }
  .project:nth-child(3n - 1) {
    margin-top: 0;
  }
  .project.writing h2 {
    font-size:40px;
    line-height:40px;
  }
  .project .title {
    width:70%;
  }
  .wrap-smaller {
    padding: 60px 20px;
  }
  .about img {
    position:static;
  }
  .about h2:first-child {
    margin-top:0;
  }
  .project .desc {
    margin-top: 189px;
  }
  .about {
    padding-top:0;
    margin-top:-33px;
  }
  .header {
    position:relative;
    z-index:1000;
  }
}
