<div class="flex-1 project medium-padding {{ .Params.type }}">
  {{ if eq .Params.type "editing" }}
    <div class="center">
      <div class="picture" style="background-image:url(/uploads/book-illu.png);">
      </div>
      <div class="desc medium-padding-left flex-1">
        {{ if (not (isset .Params "projecturl")) | or (eq .Params.projecturl "") }}
          <a href="{{ .Permalink }}">
        {{ else }}
          <a href="{{ .Params.projectUrl }}" target="_blank">
        {{ end }}
        <p class="title">
          {{ .Title | safeHTML }}
        </p>
        </a>
          <p class="author">
            {{ if (not (isset .Params "authorurl")) | or (eq .Params.authorurl "") }}
              {{ .Params.Author }}
            {{ else }}
            <a class="author-link" href="{{ .Params.AuthorUrl }}">
              {{ .Params.Author }}
            </a>
            {{ end }}
          </p>
      </div>
    </div>
  {{ end }}
  {{ if ne .Params.type "editing" }}
    <div class="picture" style="background-image:url({{ .Params.Picture }});">
    </div>
    <div class="desc medium-padding-left flex-1">
      {{ if (not (isset .Params "projecturl")) | or (eq .Params.projecturl "") }}
        <a href="{{ .Permalink }}">
      {{ else }}
        <a href="{{ .Params.projectUrl }}"  target="_blank">
      {{ end }}
      <h2 class="quote">{{ .Params.Quote | safeHTML }}</h2>
      </a>
      {{ if (not (isset .Params "projecturl")) | or (eq .Params.projecturl "") }}
        <a href="{{ .Permalink }}">
      {{ else }}
        <a href="{{ .Params.projectUrl }}"  target="_blank">
      {{ end }}
      <p class="title">
        {{ .Title | safeHTML }}
      </p>
      </a>
    </div>
  {{ end }}
</div>
