{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="scribble-1">
    <img src="uploads/left-accent-1.png"/>
  </div>
  <div class="scribble-2">
    <img src="uploads/right-accent-1.png"/>
  </div>
  <div class="scribble-3">
    <img src="uploads/left-accent-2.png"/>
  </div>
  <div class="top-quote">
    <a href="/about">{{ .Site.Data.quotes.quotes.topQuote }}</a>
  </div>
  <div class="projects flex-row">
    {{ range .Pages }}
      {{ if eq .Params.type "insert" }}
        {{ partial "insert.html" . }}
      {{ end }}
      {{ if not (eq .Params.type "insert") }}
        {{ partial "projectCard.html" . }}
      {{ end }}
    {{ end }}
  </div>
  <div class="bottom-quote">
    <a href="/about">{{ .Site.Data.quotes.quotes.bottomQuote }}</a>
  </div>
  <div class="bottom-monogram">
    <img src="/uploads/monogram-flat.svg" class="monogram" />
  </div>
</div>

{{ partial "footer" . }}
