{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="top-quote">
    <a href="/about">
      “... a fierce, almost obsessive,
     attention to detail and ruthless will ...”
    </a>
  </div>
  <div class="projects flex-row">
    {{ range .Pages }}
      {{ if eq .Params.type "insert" }}
        {{ partial "insert.html" . }}
      {{ end }}
      {{ if not (eq .Params.type "insert") }}
        {{ partial "projectCard.html" . }}
      {{ end }}
    {{ end }}
  </div>
  <div class="bottom-quote">
    <a href="/about">
      “She reads the darkness ...”
    </a>
  </div>
</div>

{{ partial "footer" . }}
